body{
    margin: 0px;
    background-color: black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    width: 450px;
    height: 450px;
    background-color: red;
    animation-name: icon;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
} 

.gmother{
    width: 325px;
    height: 375px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    background-color: red;
    
}
.logo{
    margin: 0px 5px 0px 5px;
    width: 35px;
    height: 35px;
}

.button-link{
    text-decoration: none;
    margin: 25px;
    padding: 15px 25px;
    font-size: larger;
    border-radius: 15px;
    background-color: red;
    color: white;
}

@keyframes icon{
    
    50%{
        rotate: 1deg;
    }
    100%{
        rotate: -1deg;
    }
    
}
